<div class="wrapper">
  <div class="top-wrapper">
    <div class="container">
      <h1>Share Files</h1>
      <p>Sharageは簡単にファイルを共有できるコミュニティです。</p>

      <div class="btn-wrapper">
        <div class="btn signup" id="signup-show"><span class="fa fa-user-plus add-icon"></span>Sign Up</div>
      </div>
    </div>
  </div>

  <div class="function-wrapper">
    <div class="container scrollanime downup">
      <div class="heading">
        <h1>Functions</h1>
      </div>
      <div class="functions">
        <div class="function">
          <div class="function-icon">
            <i class="far fa-share-square function-params"></i>
            <p class="function-name">Files share</p>
          </div>
        </div>
        <div class="function">
          <div class="function-icon">
            <i class="far fa-comments function-params"></i>
            <p class="function-name">Talk</p>
          </div>
        </div>
        <div class="function">
          <div class="function-icon">
            <i class="far fa-envelope function-params"></i>
            <p class="function-name">Direct mail</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="message-wrapper">
    <div class="container scrollanime slide-right">
      <div class="heading">
        <h2>Let's join the community !</h2>
        <h3>コミュニティに参加してみましょう！</h3>
      </div>
      <%= link_to("join","/users/new",class: "btn message") %>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="footer-left">
        <h2 class="footer-logo">Sharage<span class="far fa-folder-open footer-icon"></span></h2>
      </div>
      <div class="footer-right">
        <h2>
          <div class="fab fa-2x fa-twitter"></div>
          <div class="fab fa-2x fa-github"></div>
        </h2>
      </>
    </div>
  </footer> 
</div>



